@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Hide default Google Translate top banner & tooltip to maintain clean UI */
.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

